# Virtual environments
IMS_env/
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# OS & editor files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

staticfiles/

